*{margin:0;padding:0;box-sizing:border-box;}
ul{list-style: none;}
a{color:#000;text-decoration:none;}
img{max-width: 100%; height: auto;}
html,body{height: 100%;}
body{background:#2a2b32;color:#fff;}