@font-face {
  font-family: 'icomoon';
  src:  url('../../static/fonts/icomoon/icomoon.woff?h279z7') format('woff'),
        url('../../static/fonts/icomoon/icomoon.svg?h279z7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'icomoon';
//   src:  url('../../static/fonts/icomoon/icomoon.eot?h279z7');
//   src:  url('../../static/fonts/icomoon/icomoon.eot?h279z7#iefix') format('embedded-opentype'),
//         url('../../static/fonts/icomoon/icomoon.ttf?h279z7') format('truetype'),
//         url('../../static/fonts/icomoon/icomoon.woff?h279z7') format('woff'),
//         url('../../static/fonts/icomoon/icomoon.svg?h279z7#icomoon') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }